.contact_1 {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    padding-bottom: 80px;

    &_form {
      padding-left: 100px;  
      padding-top: 30px;
    //   border: none;
    //   border-bottom: 1px solid #111111;
    }

}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 16px;
    font-weight: lighter;
}

input {
    border: none;
    border-bottom: 1px solid #D8D8D8;
    width: 300px;
    padding: 15px;
    padding-left: 0px;

    &:focus {
        outline: none;
        border: none;
        border-bottom: 1px solid #4A4FF2;
    }
    
}

.submit {
    background-color: colors.$highlight-color;
    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    width: 125px;
    border: 0px;

    &:hover {
        background-color: white;
        color: colors.$highlight-color;
    }
}

img {
    padding-bottom: 80px;
}






