footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.logo {
    font-family: fonts.$main-font;
    color: colors.$main-color;
    font-size: 28px;
    font-weight: fonts.$thick-font;
}

nav {
    display: flex;
    align-items: flex-end;
    
}

ul {
    list-style: none;
    display: flex;
    align-items: flex-end;

}

li {
    font-family: fonts.$main-font;
    color: colors.$main-color;
    font-size: 16px;
    font-weight: fonts.$thick-font;
    display: flex;
    align-items: flex-end;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    

}

i {
    padding: 10px;
   
}