@use 'fonts';
@use 'colors';

@import 'header';
@import 'main-1';
@import 'main-2';
@import 'container-1';


body {
    font-family: fonts.$main-font;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
}

.page {
    display: flex;
    justify-content: center;
    flex-direction: column;
}